<div>
<h5>TECHNICAL HEADS</h5><br>
<br><br>
<div class="table-responsive" style="height: 70vh;" *ngIf="data.length>0 else noo"> 
    <table  class="table table-borderless text-center " style="width: 50vw;">
        <thead>
            <tr>
               
                
                <th>Mail</th>
                <th>Specialization</th>
           
            </tr>
        </thead>
       <tbody>
        <tr *ngFor="let c of data">
           
            <td>{{c.mail}}</td>
           
            <td>{{c.specialization}}</td>
            
            
        </tr>
       </tbody>
    </table>
</div>
<ng-template #noo>
    no technical heads assigned
</ng-template>
</div>